
p{
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: darkblue;
    text-align: center;
}

footer{
    font-size: small;
    background-color: darkblue;
    color: white;
}

h1{
    color: white;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

h2{
    color: seagreen;
}

body{
    margin: auto;
    background-color: grey;
}

div{
    background-color: lightblue;
    max-width: 60%;
    margin: auto;
}
